<div class="centered">

<table class="register">
<caption class="header">Log in</caption>
<form action="login.php" method="post">
<tr><td class="rowLabel">Email: </td><td><input type="email" name="email"/></td></tr>
<tr><td class="rowLabel">Password: </td><td><input type="password" name="password"/></td></tr>
<tr><td colspan="2"><input type="submit" name="submit" value="Log in"></td></tr>
</form>

</table>


<h4><a href="forgotpassword.php">Forgot password</a></h4>

<h4>Don't have an account? <a href="register.php">Sign up</a>.</h4>

</div>
