<div class="overflown">
<nav class="leftBlock">
	<ul>
		<li><a href="showdiveshop.php?email=<?php echo $_GET['email']; ?>&page=show">Show profile</a></li>
		<li><a href="showdiveshop.php?email=<?php echo $_GET['email']; ?>&page=offer">Show price offer</a></li>
		<li><a href="showdiveshop.php?email=<?php echo $_GET['email']; ?>&page=articles">Show articles</a></li>
		<li><a href="showdiveshop.php?email=<?php echo $_GET['email']; ?>&page=galleries">Show galleries</a></li>
		<li><a href="showdiveshop.php?email=<?php echo $_GET['email']; ?>&page=action">Act on the dive shop</a></li>
	</ul>
</nav>