<section class="gallery">
<div class="header">
<h1>Welcome to "diving is easy" galleries!</h1>
</div>
<div class="third"><a href="gallery.php?page=all">
<h3>Show all your galleries</h3>
<p>Browse the galleries you created</p>
<p>View the pictures and regain memories</p>
<p>Edit the galleries</p>
</a></div>
<div class="third"><a href="gallery.php?page=new">
<h3>Create new galleries</h3>
<p>Create a brand new gallery from your diving trip</p>
<p>Add up to 50 pictures per gallery</p>
<p>Make your gallery public and add tags for easier search</p>
</a></div>
<div class="third"><a href="gallery.php?page=public">
<h3>View other users' galleries</h3>
<p>Browse other people galleries</p>
<p>Search for pictures of things that interest you</p>
<p>Get inspired for your future dive adventures</p>
</a></div>
</section>